@font-face {
	font-family: 'roman';
	src: url('../font/roman/NimbusRomNo9L-Reg.eot');
	src: url('../font/roman/NimbusRomNo9L-Reg.woff') format('woff'), url('../font/roman/NimbusRomNo9L-Reg.ttf') format('truetype'), url('../font/roman/NimbusRomNo9L-Reg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} 

@font-face {
	font-family: 'roman';
	src: url('../font/roman/NimbusRomNo9L-RegIta.eot');
	src: url('../font/roman/NimbusRomNo9L-RegIta.woff') format('woff'), url('../font/roman/NimbusRomNo9L-RegIta.ttf') format('truetype'), url('../font/roman/NimbusRomNo9L-RegIta.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}